rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      allow read:
        if request.auth != null;
      allow create:
        if request.auth != null
        && request.auth.uid == uid
        && request.resource.data.id == uid;
      allow update:
        if request.auth != null
        && request.auth.uid == uid;
      // 通常ユーザーの削除は許可しないことが多い
    }

    match /sessions/{uid} {
      allow read, write:
        if request.auth != null
        && request.auth.uid == uid;
    }

    match /notes/{noteId} {
      allow read:
        if request.auth != null;
      allow create:
        if request.auth != null
        && request.resource.data.userId == request.auth.uid;
      allow update, delete:
        if request.auth != null
        && resource.data.userId == request.auth.uid;
    }
  }
}